extends layout

block content
  div.page-header
    h1= title
      if user.isAdmin && tournament.status == 'open'
        form(action='/tournament/#{tournament._id}/close', method='post').pull-right
          input(type='submit', value='Close').btn
      if user.isAdmin && tournament.status != 'run' && tournament.status != 'close'
        form(action='/tournament/#{tournament._id}/start', method='post').pull-right
          input(type='submit', value='Start tournament').btn

  div.well
    table.table
      thead
        tr
          th #
          th Username
          th E-Mail
      tbody
        for entry, number in tournament.users
          tr
            td= number+1
            td= entry.username
            td= entry.email
  if tournament.open
    if userInTournament
      form(action='/tournament/#{tournament._id}/leave', method='post')
        input(type='submit', value='Leave Tournament').btn
    else
      form(action='/tournament/#{tournament._id}/enter', method='post')
        input(type='submit', value='Enter Tournament').btn

  br
  a(href='/tournament/list').btn Back
