extends layout

block content
  div.page-header
    h1= title
  p.well List of all registered users.
  - var number = 0;
  table.table
    thead
      tr
        th #
        th Username
        th E-Mail
        th User ID
        th Creation date
        th Admin
        th(style="width: 40px;")
    tbody
      for user in users
        - number++;
        tr
          td= number
          td= user.username
          td= user.email
          td= user._id         
          td= user.created.toDateString()
          td= user.isAdmin
          td
            a(href='/user/update/' + user._id , role="button")
              i.icon-pencil
            a(href='/user/delete/' + user._id , role="button")
              i.icon-remove