extends layout



block content

    script(src='/js/userUpdate_getId.js')

    div#myModal.modal.hide.fade( tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
        div.modal-header
            button(type="button", data-dismiss="modal", aria-hidden="true").close ×
            h3#myModalLabel Update User

        div.modal-body
            form(action="/user/updateuser", method="post").form-horizontal
                fieldset
                    div.control-group
                        input(id="username", name="username", type="text", placeholder="Username").input-xlarge
                    div.control-group
                        input(id="password", name="password", type="password", placeholder="Password").input-xlarge
                    div.control-group
                        input(id="email", name="email", type="text", placeholder="E-Mail").input-xlarge
                    div.control-group
                        input(id="UserId", name="userId", type="hidden", value="test")#UserId
                    div.control-group
                        label.checkbox is registered
                            input(type="checkbox", name="registered", value="true", checked)
                        label.checkbox is admin
                            input(type="checkbox", name="admin", value="true")
                    div.control-group
                        input(type="submit", value="Save Changes").btn.btn-primary
                    
        div.modal-footer
            button(data-dismiss="modal", aria-hidden="true").btn Close

    div.page-header
        h1= title
    p.well List of all registered users.
    - var number = 0;
    table.table
        thead
            tr
                th #
                th Username
                th E-Mail
                th User ID
                th Creation date
                th Registered
                th Admin
                th(style="width: 40px;")
        tbody
            for user in users
                - number++;
                tr
                    td= number
                    td= user.username
                    td= user.email
                    td= user._id         
                    td= user.created.toDateString()
                    td= user.registered
                    td= user.isAdmin
                    td
                        a(href="#myModal", role="button", data-toggle="modal", data-id= '#{user._id}').openForm
                            i.icon-pencil
                        a(href='/user/delete/' + user._id , role="button")
                            i.icon-remove
            